<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biodiversity Dashboard</title>

    <!-- imported CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
  
    
</head>
<body>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="jumbotron">
                <div class="container">
                    <h1>Biodiversity Dashboard</h1>
                    <br>
                    <p>Choose from below to see interactive data sets</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="container" id="sample-select">
                <h2>Choose Sample</h2>
                <br>
                <div class="dropdown">
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <br>
                <br>
            </div>
            <br>
            <div class="first-panel">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                         MetaData
                    </div>
                    <div class="panel panel-body" id="sampleMetadata"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="pie"></div>
        </div>
        

    <div class="row">
        <div class="col-md-12">
            <div id="bubble"></div>
        </div>
    </div>
    
   
    <script src="{{ url_for('static', filename='plotly.js') }}"></script>
    
</body>
</html>
